<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Produtos</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Ação</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let produto of produtos | async">
        <td>{{produto.codigo}}</td>
        <td>{{produto.nome}}</td>
        <td>{{produto.preco}}</td>
        <td>
          <button (click)="produtoDetails(produto.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
          <button (click)="updateProduto(produto.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
          <button (click)="deleteProduto(produto.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>


        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<button (click)="home()" class="btn btn-primary">Home</button><br>

